.home-container {
    margin: 0 auto;
    font-family: "Segoe UI", sans-serif;
    width: 100%;
}
  
.hero-section {
    text-align: center;
    margin-bottom: 48px;
    padding: 130px 30px 170px 30px;
    background: linear-gradient(180deg, #cfd0d2 0%, #ffffff 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-radius: 12px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.03);
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at top left, rgba(255,255,255,0.3), transparent 60%);
    pointer-events: none;
}
  
.welcom-text {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: #2d3748;
    margin-bottom: 34px;
}

.hero-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: rgb(211, 211, 244); /* 文字の中の色 */
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000; /* 黒の縁取り */
    margin-bottom: 34px;
}
  
.hero-subtitle {
    font-size: 1.1rem;
    color: #4a5568;
    margin-bottom: 24px;
} 
  
.section-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 20px;
}
  
.circle-list-section {
    margin-top: 40px;
    width: 100%;
}

.circle-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 1280px) {
    .circle-grid{
         grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1080px) and (max-width:1279px) {
    .circle-grid{
         grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 830px) and (max-width:1079px) {
   .circle-grid{
        grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 550px) and (max-width:829px) {
    .circle-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

.circle-grid{
    display: grid;
    gap: 35px;
    align-items: center;
    justify-content: center;
    padding:10px;
    min-height: 100px;
}
  

.hero-button {
    display: inline-block;
    margin-top: 32px;
    padding: 12px 24px;
    background-color: #3182ce;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .hero-button:hover {
    background-color: #2b6cb0;
    transform: translateY(-2px);
  }
  
  .hero-cta {
    margin-top: 24px;
    text-align: center;
  }
  
  