
/* align */
.self-center{
    align-self: center;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items: start;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}


/* justify */
.justify-self-center{
    justify-self:center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: end;
}
.justify-start{
    justify-content: start;
}

/* display */
.flex{
    display: flex;
}
.block{
    display: block;
}
.grid{
    display: grid;
}
.grid-2{
    grid-row: 2;
}
.grid-3{
    grid-row: 3;
}
.grid-4{
    grid-row: 4;
}

/* flex-direction */
.flex-col{
    flex-direction: column;
}

.flex-1{
    flex: 1 1 0%;
}

.radius-s{
    border-radius: 10px;
}
.radius-md{
    border-radius: 20px;
}
.radius-l{
    border-radius: 30px;
}
.radius-xl{
    border-radius: 40px;
}
.radius-full{
    border-radius: 50%;
}

.radisu-none-left{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.radius-none-right{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.radius-ai{
    border-top-left-radius: 0;
}
.radius-me{
    border-top-right-radius: 0;
}

/* 横幅 */
.w-0_5{
    width:0.25rem;
}
.w-1{
    width: 0.5rem;
}
.w-1_5{
    width: 0.75rem;
}
.w-2{
    width: 1rem;
}
.w-3{
    width: 1.5rem;
}
.w-4{
    width: 2rem;;
}
.w-5{
    width: 2.5rem;;
}
.w-6{
    width: 3rem;;
}
.w-7{
    width: 3.5rem;;
}
.w-8{
    width: 4rem;;
}
.w-9{
    width: 4.5rem;
}
.w-10{
    width: 5rem;
}
.w-12{
    width: 6rem;
}
.w-16{
    width: 8rem;
}
.w-10p{
    width: 10%;
}
.w-half{
    width: 50%;
}
.w-65p{
    width: 65%;
}
.w-90p{
    width: 90%;
}
.w-full{
    width: 100%; 
}
.w-screen{
    width: 100vw;
}
.w-18{
    width: 9rem;
    height: 9rem;
}
.max-w-600{
    max-width: 700px;
}

/* 高さ */
.h-0_5{
    height:0.25rem;
}
.h-1{
    height: 0.5rem;
}
.h-1_5{
    height: 0.75rem;
}
.h-2{
    height: 1rem;
}
.h-3{
    height: 1.5rem;
}
.h-4{
    height: 2rem;;
}
.h-5{
    height: 2.5rem;;
}
.h-6{
    height: 3rem;;
}
.h-7{
    height: 3.5rem;;
}
.h-8{
    height: 4rem;;
}
.h-9{
    height: 4.5rem;
}
.h-90p{
    height: 90%;
}
.h-half{
    height: 50%;
}
.h-full{
    height: 100%;
}
.h-screen {
    height: 100vh;
}

.wh-75p{
    height: 75%;
    width: 75%;
}
.wh-75-10p{
    height: 10%;
    width: 75%;
}

.gap-0{
    gap: 0;
}
.gap-1{
    gap: 0.25rem;
}
.gap-2{
    gap: 0.5rem;
}
.gap-3{
    gap: 0.75rem;
}
.gap-4{
    gap: 0.1rem;
}
.gap-5{
    gap: 1.25rem;
}
.gap-6{
    gap: 1.5rem;
}
.gap-7{
    gap: 1.75rem;
}
.gap-8{
    gap: 2rem;
}

/* 背景 */
.background-blue{
    background-color: rgb(71, 71, 239);
}

.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.bg-gray-0\.5{
    background-color: rgb(248, 248, 248);
}
.bg-gray-1{
    background: rgb(240, 240, 240);
}
.bg-gray-2{
    background: rgb(210, 210, 210);
}
.bg-gray-3{
    background: rgb(180, 180, 180);
}
.bg-gray-4{
    background: rgb(150, 150, 150);
}
.bg-gray-5{
    background: rgb(120, 120, 120);
}
.bg-gray-6{
    background: rgb(90, 90, 90);
}
.bg-gray-7{
    background: rgb(60, 60, 60);
}
.bg-gray-8{
    background: rgb(30, 30, 30);
}
.bg-gray-9{
    background: rgb(10, 10, 10);
}

.pointer{
    cursor: pointer;
}

.z-0{
    z-index: 0;
}
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-3{
    z-index: 3;
}
.z-4{
    z-index: 4;
}
.z-5{
    z-index: 5;
}
.z-6{
    z-index: 6;
}
.z-7{
    z-index: 7;
}
.z-8{
    z-index: 8;
}
.z-9{
    z-index: 9;
}

.opacity-0{
    opacity: 0%;
}
.opacity-1{
    opacity: 10%;
}
.opacity-2{
    opacity: 20%;
}
.opacity-3{
    opacity: 30%;
}
.opacity-4{
    opacity: 40%;
}
.opacity-5{
    opacity: 50%;
}
.opacity-6{
    opacity: 60%;
}
.opacity-7{
    opacity: 70%;
}
.opacity-8{
    opacity: 80%;
}
.opacity-9{
    opacity: 90%;
}
.opacity-max{
    opacity: 100%;
}

.scrollY{
    overflow-y: auto;  
}

.box-shadow{
    box-shadow:0 10px 10px rgb(192, 192, 192);
}

.speechBubble {
  position: relative;
  display: inline-block;
  margin-left: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: #8ccdee;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  opacity: 0.8;
}

.speechBubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 0 16px 16px 0;
  border-color: transparent #8ccdee transparent transparent;
  translate: -100% calc(-50% - 0.4px);
  transform: skew(0, -10deg);
  transform-origin: right;
}

.speechBubble-right {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: #8ccdee;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.speechBubble-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-style: solid;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent transparent #8ccdee;
  translate: 100% calc(-50% - 0.4px);
  transform: skew(0, -10deg);
  transform-origin: left;
}